[Desktop Entry]
Name=Install Maui
GenericName=Installer
Comment=Install Maui on this system

Type=Application
Exec=sudo /usr/bin/calamares
TryExec=/usr/bin/calamares
Icon=system-software-installer
Terminal=false
Categories=Qt;KDE;System;
OnlyShowIn=KDE;
